server:
  port: 8080

spring:
  application:
    name: bus-ticket-app

  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}

  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:busapp-db}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:12345678}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  flyway:
    enabled: false

  mail:
    host: ${MAIL_HOST:sandbox.smtp.mailtrap.io}
    port: ${MAIL_PORT:2525}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    default-encoding: UTF-8
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

security:
  app:
    jwt:
      secret: ${JWT_SECRET}
      expiration: 86400000

stripe:
  secret-key: ${STRIPE_SECRET_KEY}

app:
  mail:
    from: ${MAIL_FROM:no-reply@bus-ticket-app.com}

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    org.hibernate.SQL: WARN


management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: never
